<div class="navbar-fixed">
    <nav class="white " role="navigation">
        <div class="nav-wrapper container">
          <a href="#bienvenido" class="brand-logo hide-on-small-only"><img  src="../assets/logo-pequeño.png" alt="Logo" width="150" height="64"></a>
          <a href="#bienvenido" class="brand-logo show-on-small hide-on-med-and-up"><img  src="../assets/logo-pequeño.png" alt="Logo" width="120" height="50"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#bienvenido">Bienvenidos</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="#ligas">Ligas</a></li>
            <li><a href="#ligas">Socios</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
</div>